body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF
}
/* підкреслення тексту */
a {
    text-decoration: none;
}

/* нумерація списку */

ul {
    list-style: none;
}

/** --------------------HEADER------------------- */

.header {}

.header-navigation {}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03375rem;
    text-transform: uppercase;
}

.header-logo-text {
    color: #2E2F42;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    color: #2E2F42;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

.header-menu-link:hover, 
.header-menu-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal
}

.address-menu-list {}

.address-menu-item {
}

.address-menu-link {
    color: #434455;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

.address-menu-link:hover, 
.address-menu-link:focus{
    color: #404BBF;
}

/** --------------------------------------------- */
/** --------------------SOLUTIONS------------------- */

.solutions {
    background-color: #2E2F42;
}

.solutions-title {
    color: #FFF;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.07rem;
}

.solutions-button {
    color: #FFF;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    cursor: pointer;
    background-color: #4D5AE5;
}

.solutions-button:hover,
.solutions-button:focus {
    background-color: #404BBF;
    color: #FFF;
}

/** --------------------------------------------- */

/** --------------------SOLUTIONS MENU------------------- */

.solutions-menu {}

.solutions-menu-item {
    color: #2E2F42;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025rem;
}

.solutions-menu-item-text {
    color: #434455;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

/** --------------------------------------------- */

/** --------------------TEAM------------------- */

.team {
background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
}

.team-list {
}

.team-item {
    background-color: #FFF
}

.team-img {}

.team-name {
    color: #2E2F42;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025rem;
}

.team-job {
    color: #434455;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

/** --------------------------------------------- */

/** --------------------PORTFOLIO------------------- */

.portfolio {}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-item-technology {
    color: #2E2F42;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025rem;
}

.portfolio-item-technology-text {
    color: #434455;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}
/** --------------------------------------------- */

/** --------------------FOOTER------------------- */

.footer {
background-color: #2E2F42;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03375rem;
    text-transform: uppercase;
}

.footer-logo-text {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

/** --------------------------------------------- */